In [1]:
import pandas as pd
import numpy as np

In [2]:
file = '~/traintweet_1000.tsv'

In [3]:
column_names = ["text_tokens", "hashtags", "tweet_id", "present_media", "present_links", "present_domains",\
                "tweet_type", "language", "tweet_timestamp", "engaged_with_user_id", "engaged_with_user_follower_count",\
               "engaged_with_user_following_count", "engaged_with_user_is_verified", "engaged_with_user_account_creation",\
               "engaging_user_id", "engaging_user_follower_count", "engaging_user_following_count", "engaging_user_is_verified",\
               "engaging_user_account_creation", "engaged_follows_engaging", "reply_timestamp", "retweet_timestamp", "retweet_with_comment_timestamp", "like_timestamp"]

In [4]:
df = pd.read_csv(file, header=None, names=column_names, delimiter='\x01')

In [5]:
pd.set_option('display.max_columns', None)
print(df.shape)
display(df.head())

(1000, 24)

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,engaging_user_account_creation,engaged_follows_engaging,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,101\t1942\t18628\t15752\t4458\t7697\t24309\t10...,NaN,E7D6C5094767223F6F8789A87A1937AB,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1581262691,D557B03872EF8986F7F4426AE094B2FE,986,1201,False,1274269909,00000776B07587ECA9717BFC301F2D6E,94,648,False,1478011810,False,NaN,NaN,NaN,NaN
1,101\t56898\t137\t94836\t101481\t10245\t11166\t...,83D6C79F5FCEC8D1CAD9E82C2C261611\tFFAD2DCF664C...,129F4A868712BA2B98D31AF98C3066E4,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,1581497241,424822AC982CE0E8965506C63B44EC12,1225,677,False,1255778244,00000B85AAF7DE172876FD96718C4469,1139,46,False,1540395738,True,NaN,1.581498e+09,NaN,1.581498e+09
2,101\t98377\t22627\t33499\t25053\t10898\t3793\t...,NaN,04C6C2175852CDBBC23B2446C7E7C22D,NaN,DDFFB4C01DB85921C3580F614575AA6D,BE4539C53C53FFABCFD232DB100C792B,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580978528,1EC14E26417AA926095530AC591BA9CE,3016,1623,False,1313450503,00000E0C9B364891CDE89ECFC54771DE,780,440,False,1432084055,True,NaN,NaN,NaN,1.581061e+09
3,101\t56898\t137\t11161\t73421\t131\t137\t11887...,NaN,168157826315514C120494D4DF8E6216,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,1581321849,9B9595B6FEB8948BDDF0D222F27E0118,2121,16,False,1547717153,00000F04EEDBCF3E1FB9A1948BF353B6,1,45,False,1534313747,False,NaN,NaN,NaN,1.581329e+09
4,101\t100\t119\t6694\t6546\t5621\t2446\t1975\t2...,NaN,B3E3673782A69D9D8A45D3B222F0B073,Photo,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,1580956787,525DC99B7CB8F1AC4AD3E66C53FA38E0,813505,200,True,1476348838,000010088197DA00D659853E06935B3E,171,388,False,1490166885,False,NaN,NaN,NaN,1.580958e+09

Parse attributes containing tab-separated lists into lists. Transform raw timestamps into human-readable timestamps.

In [6]:
df['text_tokens'] = df['text_tokens'].str.split('\t')

def to_hex_list(x):
    output = str(x).split('\t')
#     output = [int(val, 16) for val in str(x).split('\t')] 
    return output

cols_to_process = ['hashtags', 'present_media', 'present_links', 'present_domains']

for col in cols_to_process:  
    df[col] = df[col].apply(lambda x: to_hex_list(x) if isinstance(x, str)  else x)


    
cols_to_process = ['tweet_timestamp', 'engaging_user_account_creation', 'reply_timestamp', 'retweet_timestamp', 'retweet_with_comment_timestamp', 'like_timestamp']

for col in cols_to_process:  
    df[col] = df[col].apply(lambda x: pd.Timestamp(x, unit='s'))

In [7]:
display(df.head())

,text_tokens,hashtags,tweet_id,present_media,present_links,present_domains,tweet_type,language,tweet_timestamp,engaged_with_user_id,engaged_with_user_follower_count,engaged_with_user_following_count,engaged_with_user_is_verified,engaged_with_user_account_creation,engaging_user_id,engaging_user_follower_count,engaging_user_following_count,engaging_user_is_verified,engaging_user_account_creation,engaged_follows_engaging,reply_timestamp,retweet_timestamp,retweet_with_comment_timestamp,like_timestamp
0,"[101, 1942, 18628, 15752, 4458, 7697, 24309, 1...",NaN,E7D6C5094767223F6F8789A87A1937AB,NaN,NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,2020-02-09 15:38:11,D557B03872EF8986F7F4426AE094B2FE,986,1201,False,1274269909,00000776B07587ECA9717BFC301F2D6E,94,648,False,2016-11-01 14:50:10,False,NaT,NaT,NaT,NaT
1,"[101, 56898, 137, 94836, 101481, 10245, 11166,...","[83D6C79F5FCEC8D1CAD9E82C2C261611, FFAD2DCF664...",129F4A868712BA2B98D31AF98C3066E4,NaN,NaN,NaN,Retweet,22C448FF81263D4BAF2A176145EE9EAD,2020-02-12 08:47:21,424822AC982CE0E8965506C63B44EC12,1225,677,False,1255778244,00000B85AAF7DE172876FD96718C4469,1139,46,False,2018-10-24 15:42:18,True,NaT,2020-02-12 08:52:39,NaT,2020-02-12 08:53:42
2,"[101, 98377, 22627, 33499, 25053, 10898, 3793,...",NaN,04C6C2175852CDBBC23B2446C7E7C22D,NaN,[DDFFB4C01DB85921C3580F614575AA6D],[BE4539C53C53FFABCFD232DB100C792B],TopLevel,22C448FF81263D4BAF2A176145EE9EAD,2020-02-06 08:42:08,1EC14E26417AA926095530AC591BA9CE,3016,1623,False,1313450503,00000E0C9B364891CDE89ECFC54771DE,780,440,False,2015-05-20 01:07:35,True,NaT,NaT,NaT,2020-02-07 07:29:14
3,"[101, 56898, 137, 11161, 73421, 131, 137, 1188...",NaN,168157826315514C120494D4DF8E6216,NaN,NaN,NaN,Retweet,D3164C7FBCF2565DDF915B1B3AEFB1DC,2020-02-10 08:04:09,9B9595B6FEB8948BDDF0D222F27E0118,2121,16,False,1547717153,00000F04EEDBCF3E1FB9A1948BF353B6,1,45,False,2018-08-15 06:15:47,False,NaT,NaT,NaT,2020-02-10 09:55:18
4,"[101, 100, 119, 6694, 6546, 5621, 2446, 1975, ...",NaN,B3E3673782A69D9D8A45D3B222F0B073,[Photo],NaN,NaN,TopLevel,22C448FF81263D4BAF2A176145EE9EAD,2020-02-06 02:39:47,525DC99B7CB8F1AC4AD3E66C53FA38E0,813505,200,True,1476348838,000010088197DA00D659853E06935B3E,171,388,False,2017-03-22 07:14:45,False,NaT,NaT,NaT,2020-02-06 02:56:47

In [8]:
df["text_tokens"]
foo = []
for row in df["text_tokens"]:
    foo.append(len(row))

max(foo)

153